@tailwind base;
@tailwind components;
@tailwind utilities;

.development {
  --primary: var(--development-color);
}

.core {
  --primary: var(--core-color);
}

.learn {
  --primary: var(--learn-color);
}

.run-a-node {
  --primary: var(--run-a-node-color);
}

.user-guides {
  --primary: var(--user-guides-color);
}

:root {
  --background: 0 0% 100%;
  --popover: 0 0% 100%;
  --card: 0 0% 100%;
  --development-color: 31 80% 54%;
  --core-color: 0 0% 9%;
  --learn-color: 161 40% 27%;
  --run-a-node-color: 215 100% 34%;
  --user-guides-color: 10 85% 55%;
}

.dark {
  --background: 0 0% 2%;
  --foreground: 0 0% 98%;
  --muted: 0 0% 8%;
  --muted-foreground: 0 0% 60%;
  --popover: 0 0% 4%;
  --popover-foreground: 0 0% 88%;
  --card: 0 0% 4%;
  --card-foreground: 0 0% 98%;
  --border: 0 0% 14%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 12.9%;
  --secondary-foreground: 0 0% 98%;
  --accent: 0 0% 15%;
  --accent-foreground: 0 0% 100%;
  --ring: 0 0% 14.9%;
  --core-color: 0 0% 100%;
  --learn-color: 161 40% 27%;
  --run-a-node-color: 215 100% 34%;
  --user-guides-color: 10 85% 55%;
}

#nd-nav {
  background-color: hsl(var(--background));
  z-index: 9999;
  border: none;
}

.box {
  border: 1px solid #615a5400;
  border-radius: 0.75rem;
  animation: 5s rotate linear infinite;
  background: linear-gradient(#fbfbfb, #fbfbfb) padding-box,
    linear-gradient(var(--angle), #fbfbfb, #9d9898) border-box;
}

.dark\:box:is(.dark *) {
  background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(var(--angle), #070707, #9d9898) border-box;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
